<html>
<head>
    <title>Lesson List</title>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <link href="/assets/style.css" rel ="stylesheet" type="text/css"/>
</head>
<body>
    <div id="todo-table">
      <form>
        <input type="text" name="item" placeholder="Add a new item..." required />
        <button type="submit">Add Item </button>
      </form>
    </div>
    <ul>
      <% for(var i= 0; i < todos.length; i++){ %>
        <li><%= todos[i].item %></li>
      <% } %>
    </ul>
</body>
</html>
